#ignore environment variable
.env

#ignore python cache
__pycache__/
*.py[cod]

#ignore database
db.sqlite3

*.log
*.pot
.env.staging
media

# don't track node_modules because we'll be using yarn install and it will create this
node_modules

# On our project configuration, the output of the collectstatic will be stored in 
# staticfiles directory. We are ignoring files inside staticfiles but we'll track this # folder itself so that collectstatic can work on Heroku
public/*
