* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#content {
  overflow: auto;
  padding: 20px;
}

/* style for nlp sentiment analysis  */
div.nlp-main {
  width: 70%;
  float: left;
}

.messages {
  margin-top: 15px;
}

aside {
  float: right;
  width: 30%;
  padding-left: 20px;
  height: 500px;
  overflow: auto;
}

@media screen and (max-width: 576px) {
  div.nlp-main,
  aside {
      width: 100%;
      padding: 20px;
      margin-top: 20px;
  }
}

