{% extends 'index.html' %}


{% block content %}
<div class="review-form">
  <form action="" method="POST" novalidate>
    <div class="form-group">
      {% csrf_token %}
      <label for="review_name">Your Name:</label>
      <input type="text" class="form-control" id="review_name" name="review_name">
    </div>
    <div class="form-group">
      <label for="review_text">Comments:</label>
      <textarea class="form-control" id="review_text" name="review_text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  {% include 'messages.html' %}
</div>


<aside class="review-list">
  {% if sentiments %}

  <ul class="list-group">
    <li class="list-group-item active">
      <h4>Reviews - Sentiment</h4>
    </li>
    {% for sentiment in sentiments %}
    <li class="list-group-item">
      <h4>Customer</h4>
      {{ sentiment.review_text }} - {{ sentiment.sentiment }}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h4>No Comments yet!!</h4>
  {% endif %}


</aside>
{% endblock %}