{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'img/nlp.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sentiment Analysis</h5>
        <p class="card-text">Natural Language Processing application to predict customer sentiment based on their review
        </p>
        <a href="/nlp/sentiment-analysis" class="btn btn-primary">Application</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}