{% extends 'base.html' %}


{% block content %}
<div class="nlp_form">
  <form action="/nlp/sentiment_review/" method="post">
    {% csrf_token %}
    <label for="review_name">Your name:</label><br>
    <input type="text" id="review_name" name="review name"><br>
    <label for="review_text">Drop your review about our products:</label><br>
    <textarea name="review" id="review_text" cols="30" rows="4"></textarea>
    <input type="submit" value="Drop">
  </form>

  {% if review_data %}
  <p>sentiment for review from {{ review_data.review_name }} is <strong>{{ review_data.sentiment }}</strong></p>
  {% endif %}
</div>

<aside class="review_data">
  {% if sentiments %}
  <ul class="sentiment-list">
    {% for sentiment in sentiments %}
    <li>{{ sentiment.review_name }}</li>
    <li>{{ sentiment.review_text }}</li>
    <li>{{ sentiment.sentiment }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No Reviews yet!</p>
  {% endif %}
</aside>
{% endblock %}